<footer class="footer">
	<span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
    <span class="footer__copyright">基于 <a href="http://ghost.org">Ghost</a> 搭建，感谢 <a href="https://www.linode.com/?r=7ce0bac58dfe1c1f8bbb4091c089931e814c3f96">Linode</a> 为本站提供稳定的 VPS 服务</span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
</footer>
