<section class="footer-wrapper">
	<footer class="blog-footer container">
		{{navigation}}
		<ul class="footer-links">
		<li><a href="https://swift.how/news">News</a></li>
		<li><a href="https://swift.how/contact?report=true">Report Bugs</a></li>
		<li><a href="https://swift.how/contact">Contact Us</a></li>
		</ul>
		<small class="footer-copyright">Copyright © {{date format="YYYY"}}. All rights reserved.</small>
	</footer>
</section>
