<section class="footer-wrapper">
	<footer class="blog-footer">
		{{navigation}}
		<ul class="gf-links piped footer-links">
		<li><a href="/news/">News</a></li>
		<li><a href="/bug-reporting/">Report Bugs</a></li>
		<li><a href="/contact/">Contact Us</a></li>
		</ul>
		<small>Copyright © {{date format="YYYY"}}. All rights reserved.</small>
	</footer>
</section>
